node_modules/
public/
deploy.sh

# Ignore all files in content and templates directories
src/content/*
src/templates/*

# Except files with "example" in their name in content and templates directories
!src/content/**/*example*
!src/templates/**/*example*