<!DOCTYPE html>
<!-- here you set the default theme -->
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The personal website and blog of the individual known as Adaalrf." />
    <title>{{title}}</title>
    <link href="{{stylesPath}}" rel="stylesheet" />
    <link rel="icon" href="{{faviconPath}}" type="image/x-icon" />
  </head>
  <body class="bg-background flex flex-col min-h-screen">
    <header
      class="sticky top-0 z-10 bg-background text-foreground shadow-md p-1 mb-6">
      <div
        id="mobile-menu"
        class="sm:hidden flex items-center mx-7 justify-between">
        <ul>
          <li class="relative">
            <a href="#" id="burger-dropdown"></a>
            <ul
              id="burger-dropdown-menu"
              class="flex flex-col gap-4 absolute mt-4 p-4 transform min-w-36 w-fit bg-background border-t-2 border-t-accent rounded-sm shadow-lg z-20 transition-all duration-300 ease-in-out opacity-0 -translate-y-2 invisible before:absolute before:-top-5 before:left-0 before:right-0 before:h-5 before:bg-transparent">
              <li class="dropdownItem"><a href="/">Home</a></li>
              <li class="dropdownItem"><a href="/blog">Blog</a></li>
              <li class="dropdownItem"><a href="/blog/tags">Tags</a></li>
              <li class="dropdownItem">
                <a
                  href="https://github.com/adaalrf"
                  target="_blank"
                  rel="noopener noreferrer"
                  >gitHub</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <a href="/">
          <h1 class="text-xl font-bold m-0">.&nbsp;adaalrf.dev&nbsp;</h1>
        </a>
      </div>
      <div
        class="hidden sm:flex flex-col md:flex-row items-center justify-between sm:max-w-lg md:min-max-w mx-auto">
        <div class="flex">
          <a href="/">
            <h1 class="text-xl font-bold m-0">.&nbsp;adaalrf.dev&nbsp;</h1>
          </a>
          <div id="path-bar-div" class="text-xl font-bold m-0 overflow-hidden">
            {{page}}
          </div>
        </div>
        <nav>
          <ul class="flex space-x-9">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li class="relative hidden sm:block">
              <a href="/blog/tags" id="tags-dropdown">Tags</a>
              <ul
                id="tags-dropdown-menu"
                class="flex flex-col gap-4 absolute left-1/2 mt-4 p-4 transform -translate-x-1/2 min-w-36 w-fit bg-background border-t-2 border-t-accent rounded-sm shadow-lg z-20 transition-all duration-300 ease-in-out opacity-0 -translate-y-2 invisible before:absolute before:-top-5 before:left-0 before:right-0 before:h-5 before:bg-transparent">
                {{tagsDropdown}}
              </ul>
            </li>
            <li>
              <a
                href="https://github.com/adaalrf"
                target="_blank"
                rel="noopener noreferrer"
                >gitHub</a
              >
            </li>
            <li>
              <button id="toggle-theme-btn" class="hidden">
                <!-- Toggle Theme -->
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main
      id="main"
      class="ring-2 ring-muted min-w-72 sm:max-w-lg md:min-max-w mx-2 sm:mx-auto p-6 rounded-md bg-background text-foreground drop-shadow-md flex-grow">
      {{children}}
    </main>
    <footer class="bg-background text-foreground shadow-inner mt-6 p-4">
      <div class="min-w-72 sm:max-w-lg md:min-max-w mx-auto text-center">
        <p class="text-foreground">
          © 2024 . adaalrf.dev |
          <a href="https://github.com/adaalrf"
            >adaalrf &nbsp;
            <img
              src="{{gitLogoPath}}"
              alt="gitLogo"
              class="inline-block w-6 h-6" />
          </a>
        </p>
      </div>
    </footer>
    <script type="module" src="{{scriptPath}}"></script>
  </body>
</html>
