<!DOCTYPE html>
<!-- here you set the default theme -->
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="{{stylesPath}}" rel="stylesheet" />
    <link rel="icon" href="{{faviconPath}}" type="image/x-icon" />
  </head>
  <body class="bg-background flex flex-col min-h-screen">
    <header class="bg-muted text-muted-foreground shadow-md p-1 mb-6">
      <div
        class="flex flex-col sm:flex-row items-center justify-between min-w-72 max-w-sm sm:max-w-lg lg:min-max-w mx-auto">
        <a href="/">
          <h1 class="text-2xl font-bold m-0">. adaalrf.dev</h1>
        </a>
        <nav>
          <ul class="flex space-x-4">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <button id="toggle-theme-btn" class="hidden">
                <!-- Toggle Theme -->
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main
      id="main"
      class="ring-4 ring-muted min-w-72 max-w-sm sm:max-w-lg lg:min-max-w mx-auto p-6 rounded-md bg-background text-foreground drop-shadow-md flex-grow">
      {{children}}
    </main>
    <footer class="bg-background text-foreground shadow-inner mt-6 p-4">
      <div
        class="min-w-72 max-w-sm sm:max-w-lg lg:min-max-w mx-auto text-center">
        <p class="text-foreground">
          © 2024 . adaalrf.dev |
          <a href="https://github.com/adaalrf"
            >adaalrf &nbsp;
            <img
              src="{{gitLogoPath}}"
              alt="gitLogo"
              class="inline-block w-6 h-6"
          /></a>
        </p>
      </div>
    </footer>
    <script type="module" src="{{scriptPath}}"></script>
  </body>
</html>
