<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="{{stylesPath}}" rel="stylesheet" />
    <link rel="icon" href="{{faviconPath}}" type="image/x-icon" />
  </head>
  <body class="bg-background text-foreground flex flex-col min-h-screen">
    <header class="bg-primary text-primary-foreground shadow-md p-4 mb-6">
      <div class="max-w-screen-lg mx-auto">
        <a href="/" class="text-secondary-foreground hover:text-foreground">
          <h1 class="text-2xl font-bold">. adaalrf.dev</h1>
        </a>
        <nav>
          <ul class="flex space-x-4">
            <li>
              <a
                href="/"
                class="text-secondary-foreground hover:text-foreground"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/about"
                class="text-secondary-foreground hover:text-foreground"
                >About</a
              >
            </li>
            <li>
              <a
                href="/blog"
                class="text-secondary-foreground hover:text-foreground"
                >Blog</a
              >
            </li>
            <li>
              <a
                href="/contact"
                class="text-secondary-foreground hover:text-foreground"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="min-max-w mx-auto p-6 bg-card rounded-lg shadow-md flex-grow">
      {{children}}
    </main>
    <footer class="bg-primary text-primary-foreground shadow-inner mt-6 p-4">
      <div class="max-w-screen-lg mx-auto text-center">
        <p class="text-secondary-foreground">
          © 2024 . adaalrf.dev. All rights reserved.
        </p>
      </div>
    </footer>
    <script type="module" src="{{scriptPath}}"></script>
  </body>
</html>
