<div id="tags">
  <div class="flex flex-col list-none mb-6 gap-4">
    <ul id="tag-links-container">
      <li id="tag-link-li" class="">
        <a href="#" id="tag-link" class="font-black"></a>
      </li>
      <!-- Links to tag pages will be inserted here -->
    </ul>
  </div>
  <div class="pagination flex justify-center gap-4">
    <a href="" class="previous-page hidden">&lt;</a>
    <a href="" class="hidden" id="page-link-1"></a>
    <a href="" class="hidden" id="page-link-2"></a>
    <a
      href=""
      class="hidden current-page font-bold underline"
      id="page-link-3"></a>
    <a href="" class="hidden" id="page-link-4"></a>
    <a href="" class="hidden" id="page-link-5"></a>
    <a href="" class="next-page hidden">&gt;</a>
  </div>
</div>
