@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --background: hsl(30, 20%, 95%); /* Base (#eff1f5) */
    --foreground: hsl(220, 13%, 20%); /* Text (#4c4f69) */
    --muted: hsla(30, 20%, 95%, 0.6); /* Muted background */
    --muted-foreground: hsla(220, 13%, 20%, 0.6); /* Muted foreground */
    --accent: hsl(193, 100%, 70%); /* Red (#d20f39) */
    --accent-foreground: var(--background);
    --destructive: hsl(0, 80%, 60%); /* Destructive Red (#ff6e6e) */
    --destructive-foreground: var(--foreground);
    --code: var(--foreground);
    --code-foreground: hsl(30, 20%, 95%); /* Same as background */
  }

  .dark {
    --background: hsl(240, 15%, 15%); /* Base (#1e1e2e) */
    --foreground: hsl(230, 33%, 90%); /* Text (#cdd6f4) */
    --muted: hsla(240, 15%, 15%, 0.6); /* Muted background */
    --muted-foreground: hsla(230, 33%, 90%, 0.6); /* Muted foreground */
    --accent: hsl(341, 39%, 52%); /* Red (#f38ba8) */
    --accent-foreground: var(--background);
    --destructive: hsl(0, 76%, 70%); /* Destructive Red (#ed7878) */
    --destructive-foreground: var(--foreground);
    --code: var(--foreground);
    --code-foreground: hsl(240, 15%, 15%); /* Same as background */
  }

  html {
    padding-left: calc(
      100vw - 100%
    ); /* Prevent horizontal scrollbar making the page jumnp */
  }
  a {
    @apply transition-all duration-100 no-underline text-foreground hover:text-accent;
  }

  h1 {
    @apply text-4xl my-2;
  }

  h2 {
    @apply text-2xl my-1;
  }
  h3 {
    @apply text-xl my-1;
  }
  #toggle-theme-btn {
    @apply hover:opacity-60; /* maching the anchortag's 'text-muted-foreground' */
  }
  pre:has(> code) {
    @apply size-fit/*  my-2 p-2 font-mono rounded-sm bg-muted-foreground text-background */;
  }
}

@layer utilities {
  .min-max-w {
    max-width: 724px;
    min-width: 724px;
  }
  .scrollbar-padding {
    --scrollbar-width: 0px;
    --scrollbar-padding: 0px;
  }
}
