@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    /* set your color here for light-mode */
    --background-hue: 60;
    --background-saturation: 4%;
    --background-lightness: 95%;

    --foreground-hue: 0;
    --foreground-saturation: 5%;
    --foreground-lightness: 15%;

    /* set your opacity here for light-mode */
    --color-opacity-primary: 1;
    --color-opacity-secondary: 0.8;
    --color-opacity-muted: 0.6;
    --color-opacity-accent: 0.7;

    --background: hsl(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness)
    );
    --foreground: hsl(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness)
    );
    --primary: hsla(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness),
      var(--color-opacity-primary)
    );
    --primary-foreground: hsla(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness),
      var(--color-opacity-primary)
    );
    --secondary: hsla(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness),
      var(--color-opacity-secondary)
    );
    --secondary-foreground: hsla(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness),
      var(--color-opacity-secondary)
    );
    --muted: hsla(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness),
      var(--color-opacity-muted)
    );
    --muted-foreground: hsla(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness),
      var(--color-opacity-muted)
    );
    --accent: hsla(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness),
      var(--color-opacity-accent)
    );
    --accent-foreground: hsla(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness),
      var(--color-opacity-accent)
    );

    --destructive: hsl(0, 70%, 50%);
    --destructive-foreground: var(--foreground);
  }

  .dark {
    /* set your colors here for dark-mode */
    --background-hue: 0;
    --background-saturation: 5%;
    --background-lightness: 15%;

    --foreground-hue: 60;
    --foreground-saturation: 4%;
    --foreground-lightness: 95%;

    /* set your opacity here for dark-mode */
    --color-opacity-primary: 1;
    --color-opacity-secondary: 0.8;
    --color-opacity-muted: 0.6;
    --color-opacity-accent: 0.7;

    --background: hsl(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness)
    );
    --foreground: hsl(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness)
    );

    --primary: hsla(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness),
      var(--color-opacity-primary)
    );
    --primary-foreground: hsla(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness),
      var(--color-opacity-primary)
    );

    --secondary: hsla(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness),
      var(--color-opacity-secondary)
    );
    --secondary-foreground: hsla(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness),
      var(--color-opacity-secondary)
    );

    --muted: hsla(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness),
      var(--color-opacity-muted)
    );
    --muted-foreground: hsla(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness),
      var(--color-opacity-muted)
    );

    --accent: hsla(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness),
      var(--color-opacity-accent)
    );
    --accent-foreground: hsla(
      var(--foreground-hue),
      var(--foreground-saturation),
      var(--foreground-lightness),
      var(--color-opacity-accent)
    );

    --destructive: hsl(0, 70%, 50%);
    --destructive-foreground: var(--foreground);
  }

  a {
    @apply text-foreground hover:text-muted-foreground;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-lg;
  }
  #toggle-theme-btn {
    @apply hover:opacity-60; /* maching the anchortag's 'text-muted-foreground' */
  }
}

@layer utilities {
  .min-max-w {
    max-width: 768px;
    min-width: 768px;
  }
}
